@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'MS Sans Serif';
    src: url('./fonts/MS-Sans-Serif.eot');
    src: url('./fonts/MS-Sans-Serif.woff2') format('woff2'),
        url('./fonts/MS-Sans-Serif.woff') format('woff'),
        url('./fonts/MS-Sans-Serif.ttf') format('truetype'),
        url('./fonts/MS-Sans-Serif.eot?#iefix') format('embedded-opentype');
    font-weight: normal;
    font-style: normal;
}

* {
    font-family: 'MS Sans Serif';
}

::-moz-selection {
    background-color: #0000a8;

    color: #fff;
}

::selection {
    background-color: #0000a8;

    color: #fff;
}
