@tailwind base;
@tailwind components;
@tailwind utilities;
/* @import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap'); */

/* @layer base { */

/* @font-face {
        font-family: 'MS-Sans-Serif';
        font-weight: 900;
        src: url('./fonts/MS-Sans-Serif.ttf') format('ttf');
    } */
/* @font-face {
        font-family: 'Silkscreen-Regular';
        font-weight: 900;
        src: url('./fonts/Silkscreen-Regular.ttf') format('ttf');
    }
} */

@font-face {
    font-family: 'MS Sans Serif';
    src: url('./fonts/MS-Sans-Serif.eot');
    src: url('./fonts/MS-Sans-Serif.woff2') format('woff2'),
        url('./fonts/MS-Sans-Serif.woff') format('woff'),
        url('./fonts/MS-Sans-Serif.ttf') format('truetype'),
        url('./fonts/MS-Sans-Serif.eot?#iefix') format('embedded-opentype');
    font-weight: normal;
    font-style: normal;
}

* {
    font-family: 'MS Sans Serif';
    /* box-sizing: border-box; */
}

/* body {
    font-family: 'Press Start 2P', cursive;
    font-size: 5px;
} */

/* body {
    font-family: 'Silkscreen-Regular';
    /* font-size: 8px;
    font-smooth: never;
    -webkit-font-smoothing: none;
    -moz-osx-font-smoothing: none; */

/* margin: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale; 
} */